<style>
    /* Creating the box elements for weather */
    .box-content {
            aspect-ratio: 1;
            height: 100%;
            border-radius: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #517D5A;
        } 
</style>

<div class = "row mb-3">
    <div class = "col d-flex flex-column">
        <div class="box-content text-white flex-column">
            <img src="../static/img/sun.png" class = "mb-2" style = "height: 13vw">
            <h4><b>72°</b></h6>
        </div>
    </div>
    <div class = "col d-flex flex-column">
        <div class="box-content text-white flex-column">
            <img src="../static/img/umbrella.png" class = "mb-2" style = "height: 13vw">
            <h4><b>75%</b></h6>
        </div>
    </div>
    <div class = "col d-flex flex-column">
        <div class="box-content text-white flex-column">
            <img src="../static/img/refresh.png" class = "mb-2" style = "height: 13vw">
            <h4><b>62°</b></h6>
        </div>
    </div>
</div>