<div class="row p-0">
    <div class="checkbox-wrapper-61">
        <div class="col-2 p-0">
            <input type="checkbox" class="check" id="check-{{ todo.task_id }}" {% if todo.completed %} checked {% endif %} />
            <label for="check-{{ todo.task_id }}" 
                onclick="updateTaskStatus({{ todo.task_id }}, {{ todo.completed}})" 
                class="label" 
                data-task-id="{{ todo.task_id }}">
                <svg width="45" height="45" viewBox="0 0 95 95">
                    <rect x="20" y="20" width="50" height="50" stroke="black" fill="none" />
                    <g transform="translate(0,-952.36222)">
                        <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4" stroke="black" stroke-width="3" fill="none" class="path1" />
                    </g>
                </svg> 
            </label>
        </div>
        <div class="col">
            <div class="checkbox-text text-white">
                <h5>{{ todo.task }}</h5>
                <h6 style="opacity: 70%;">{{ todo.date }}</h6>
            </div>
        </div>
    </div>
</div>

<script>
    function updateTaskStatus(taskId, completed) {
        $.ajax({
            url: '/checkBox', 
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                task_id: taskId,
                completed: !completed // Toggle the completed status
            }),
            success: function(response) {
                if (response.success) {
                    // Find the checkbox element by ID
                    const checkbox = document.getElementById(`check-${taskId}`);
                    if (checkbox) {
                        checkbox.checked = !checkbox.checked; // Toggle the checkbox state
                    } else {
                        console.error("Checkbox not found for taskId: ", taskId);
                    }
                } else {
                    alert("Failed to update task status.");
                }
            },
            error: function(xhr, status, error) {
                alert("An error occurred while updating task status: " + error);
            }
        });
    }
</script>
