<!DOCTYPE html>

<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel = "stylesheet" href = "../../static/css/styles.css">
    <!-- CSS for checkbox element -->
    <link rel = "stylesheet" href = "../../static/css/checkbox.css">
    <!-- Link to Bootstrap js -->
    <script src=  "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"> </script>
    <!-- Link to jQuery -->
    <script src= "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"> </script>

    <!-- Page specific CSS -->
    <style>
        /* Element for last card to add crop */
        .add_crop_card {
                aspect-ratio: 1;
                width: 50vw;
                height: 50vw;
                border-radius: 25%;
                display: flex;
                align-items: center;
                justify-content: center;
            } 
    </style>
</head>

<html>
    <body>
    <div class="d-flex flex-row flex-nowrap overflow-scroll px-2 pe-5">
        {% for crop_info, todos, user_crop_id in crops_with_todos %}
            <div class="card card-body m-2 mb-3" style="min-width: 75vw; min-height: 300px; background-color: #517D5A">
                <h3> 
                    <div class="card-title d-flex justify-content-center align-items-center">
                        <button class = "btn btn-dark" type = "button" id = "card-button-{{ user_crop_id }}"> 
                            <em style = "font-size: 6.5vw"> 
                                {{ crop_info['variety_name'] }}
                            </em>
                        </button>
                        <!-- info icon -->
                        {% include 'homepage/infoButton.html' %}
                    </div>
                </h3>
                {% set outer_loop = loop %}

                {% for todo in todos %}
                <!-- Call the loop index -->
                <span style="display: none;">{{ loop.index }}</span>
                {% include 'homepage/checkbox.html' %}
                <hr>
                {% endfor %}
            </div>
        {% endfor %}
        
        <!-- Last Card - for adding crop -->
        <div class="card card-body text-white m-2 mb-3 d-flex align-items-center" style="min-width: 75vw; min-height: 300px; background-color: #517D5A;">
            <h1 class = "mb-4" style = "font-size: 10vw; text-align: center;"> <b>Add New Crop</b></h1>
            <div class="add_crop_card text-white flex-column bg-dark" id= "end_add_crop">
                <img src="../static/img/plus.svg" class = "mb-2" style = "height: 30vw;">
            </div>
        </div>
    </div>

    <script>
        function deleteCrop(userCropId) {
            let encodedUserCropId = encodeURIComponent(userCropId);
            let url = '/delete_template?cropid=' + encodedUserCropId;

            let requestData = {
                type: 'POST',
                url: url, 
                success: function (response) {
                    if (response.success) {
                        // Delete the crop from IndexedDB
                        loadCropsFromLocal(); 

                        // Optionally reload the page (or you could dynamically update the UI)
                        location.reload(); 
                    } else {
                        alert("Failed to delete task: " + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("An error occurred while deleting the task: " + error);
                }
            };

            $.ajax(requestData);
        }

        function showEditForm(userCropId) {
            document.getElementById(`edit-form-${userCropId}`).style.display = 'block';
        }

        function cancelEdit(userCropId) {
            document.getElementById(`edit-form-${userCropId}`).style.display = 'none';
        }

        function submitEdit(userCropId) {

            const taskField = document.getElementById(`taskDropdown-${userCropId}`).value;
            const taskName = document.getElementById(`editTaskInput-${userCropId}`).value;
            const newDate = document.getElementById(`taskDateInput-${userCropId}`).value;

            if (!taskField || !newDate || !taskName) {
                alert("Please select new values !");
                return;
            }

            // Send AJAX request to edit the task
            $.ajax({
                url: '/edit_task',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    task_id: taskField,
                    task_name: taskName,
                    new_date: newDate
                }),
                success: function (response) {
                    if (response.success) {
                        //TODO: Use AJAX to update dynamically instead of reloading page
                        location.reload(); 
                    } else {
                        alert("Failed to update task: " + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("An error occurred while updating the task: " + error);
                }
            });
        }
        function showAddForm(userCropId) {
            document.getElementById(`add-form-${userCropId}`).style.display = 'block';
}

        function cancelAdd(userCropId) {
            document.getElementById(`add-form-${userCropId}`).style.display = 'none';
        }

        function submitAdd(userCropId) {
            const newTask = document.getElementById(`newTaskInput-${userCropId}`).value;
            const taskDate = document.getElementById(`addTaskDate-${userCropId}`).value;

            // Log to make sure you're getting the correct values
            console.log('New Task:', newTask);
            console.log('Task Date:', taskDate);

            if (!newTask || !taskDate) {
                alert("Please enter a task name and date!");
                return;
            }
                
            // Send AJAX request to add the task
            $.ajax({
                url: '/add_task',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    user_crop_id: userCropId,
                    new_task: newTask,
                    new_date: taskDate
                }),
                success: function (response) {
                    if (response.success) {
                        //TODO: Use AJAX to update dynamically instead of reloading page
                        location.reload(); 
                    } else {
                        alert("Failed to add task: " + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("An error occurred while adding the task: " + error);
                }
            });
        }



        // For buttons with crop names
        $(document).ready(function() {
            $('[id^=card-button]').on('click', function() {
                var varietyId = $(this).attr('id').split('card-button-')[1];

                window.location.href = '/newshowcrop/' + varietyId;
            });
        });


        // For last button to add crop
        $(document).ready(function() {
            $('#end_add_crop').on('click', function() {
                window.location.href = '/selectFamily';
            });
        });
    </script>

    <script src = "../../static/js/script.js"></script>
    </body>
</html>