<!DOCTYPE html>

<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel = "stylesheet" href = "../../static/css/styles.css">
    <!-- CSS for checkbox element -->
    <link rel = "stylesheet" href = "../../static/css/checkbox.css">
    <!-- Link to Bootstrap js -->
    <script src=  "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"> </script>
    <!-- Link to jQuery -->
    <script src= "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"> </script>


    <!-- Page specific CSS -->
    <style>
        /* Element for last card to add crop */
        .add_crop_card {
                aspect-ratio: 1;
                width: 50vw;
                height: 50vw;
                border-radius: 25%;
                display: flex;
                align-items: center;
                justify-content: center;
            } 
    </style>
</head>

<html>
<!-------------------------------Static HTML---------------------------------->
    <body>
    <!-- Crop Cards -->
    <div class="d-flex flex-row flex-nowrap overflow-scroll px-2 pe-5">
        <div id="cropcards"> </div>
        <!-- Last Card - for adding crop -->
        <div class="card card-body text-white m-2 mb-3 d-flex align-items-center" style="min-width: 75vw; min-height: 300px; background-color: #517D5A;">
            <h1 class = "mb-4" style = "font-size: 10vw; text-align: center;"> <b>Add New Crop</b></h1>
            <div class="add_crop_card text-white flex-column bg-dark" id= "end_add_crop">
                <img src="../static/img/plus.svg" class = "mb-2" style = "height: 30vw;">
            </div>
        </div>
    </div>


     <!-- modal popup -->
     <div class="modal" tabindex="-1" id="infoModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"> Crop Information </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">      </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
<!--------------------------------------------------------------------------->

    <!-- Link to Mustache -->
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>

    
    <script>

    'use strict';

    let templateCropCard = ` 
    {{#crops_with_todos}}
    <div class="card card-body m-2 mb-3" id="crop-card-{{user_crop_info.variety_id}}" style="min-width: 75vw; min-height: 300px; background-color: #517D5A">
        <h3> 
            <div class="card-title d-flex justify-content-center align-items-center">
                <button class="btn btn-dark" type="button" id="card-button-{{user_crop_info.variety_id}}"> 
                    <em style="font-size: 6.5vw"> 
                        {{user_crop_info.variety_name}} <!-- Access crop_info properties like this -->
                    </em>
                </button>
                
                <!-- info icon -->

                <img id="infoButton-{{user_crop_info.variety_name}}" src="./static/img/info.png" alt="info logo" style="width:8vw;height:8vw;" >
  
                
                <!-- Delete button -->
                <button class="btn btn-danger" onclick="deleteCrop({{user_crop_id}})">Delete Crop</button>
            </div>
        </h3>

        <!-- Render Todo List for each crop -->
        <!-- Loop over todos (tasks) for this crop -->
        <div class="todos">
            {{#todos}}
            <div class="todo">
                <input type="checkbox" {{#done}}checked{{/done}} disabled />
                <span>{{task}}</span>
                <div>{{date}}<div>
            </div>
            {{/todos}}
        </div>
        <!-- Edit Tasks and Forms -->
        <div id=edit-add-button>
            <button id="edit-button-{{ user_crop_id }}" onclick="showEditForm({{ user_crop_id }})">Edit Task Dates</button>
            <div id="edit-form-{{user_crop_id}}" style="display: none;">
            <h3>Select a task to edit</h3>
            <label for="taskDropdown-{{user_crop_id}}">Task:</label>
            <select id="taskDropdown-{{user_crop_id}}">
                {{#todos}}
                    <option value="{{task}}"> {{task}} </option>
                {{/todos}}
            </select>
            <label for="taskDateInput-{{ user_crop_id }}">New Date:</label>
            <input type="date" id="taskDateInput-{{ user_crop_id }}">
            <button onclick="submitEdit({{ user_crop_id }})">Save</button>
            <button onclick="cancelEdit({{ user_crop_id }})">Cancel</button>
        </div>

        <!-- Add Tasks and Forms -->
        <div id=addButton>
            <button id="add-button-{{ user_crop_id }}" onclick="showAddForm({{ user_crop_id }})">Add Task</button>
            <div id="add-form-{{ user_crop_id }}" style="display: none;">
                <h3> Add a task </h3>
                <label for="newTaskInput-{{ user_crop_id }}">New Task:</label>
                <input type"text" id="newTaskInput-{{ user_crop_id }}">

                <label for="addTaskDate-{{ user_crop_id }}">Date:</label>
                <input type="date" id="addTaskDate-{{ user_crop_id }}">
                <button onclick="submitAdd({{ user_crop_id }})">Save</button>
                <button onclick="cancelAdd({{ user_crop_id }})">Cancel</button>  
        
        </div>
    </div>
    {{/crops_with_todos}}
`;

let templateModalBody = `
    {{#cropName}}
    <p>
        {{variety_name}}
    </p>
    {{/cropName}}

`;

//---------------------------------------------------------------------------------
// Edit button
//---------------------------------------------------------------------------------


function showEditForm(userCropId) {
            document.getElementById(`edit-form-${userCropId}`).style.display = 'block';
        }

function cancelEdit(userCropId) {
    document.getElementById(`edit-form-${userCropId}`).style.display = 'none';
}

function submitEdit(userCropId) {
    const taskField = document.getElementById(`taskDropdown-${userCropId}`).value;
    const newDate = document.getElementById(`taskDateInput-${userCropId}`).value;

    if (!taskField || !newDate) {
        alert("Please select a task and a date!");
        return;
    }
    
    $.ajax({
        url: '/edit_task',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
            user_crop_id: userCropId,
            date_field: taskField,
            new_date: newDate
        }),
        success: function (response) {
            setTimeout(() => {
                getCropCards();
            }, 1000);
        },
        error: function (xhr, status, error) {
            alert("An error occurred while updating the task: " + error);
        }
    });
}

//---------------------------------------------------------------------------------
// Add button
//---------------------------------------------------------------------------------

function showAddForm(userCropId) {
            document.getElementById(`add-form-${userCropId}`).style.display = 'block';
}

function cancelAdd(userCropId) {
    document.getElementById(`add-form-${userCropId}`).style.display = 'none';
}

function submitAdd(userCropId) {
    const newTask = document.getElementById(`newTaskInput-${userCropId}`).value;
    const taskDate = document.getElementById(`addTaskDate-${userCropId}`).value;

    if (!newTask || !taskDate) {
        alert("Please enter a task name and date!");
        return;
    }
    $.ajax({
        url: '/add_task',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
            user_crop_id: userCropId,
            new_task: newTask,
            new_date: taskDate
        }),
        success: function (response) {
            setTimeout(() => {
                getCropCards();
            }, 1000);
        },
        error: function (xhr, status, error) {
            alert("An error occurred while adding the task: " + error);
        }
    });


}
//---------------------------------------------------------------------------------
// Delete Crop
//---------------------------------------------------------------------------------
    let deleteRequest = null;
    function deleteCrop(userCropId) {    
        function handleDeleteResponse(response) {
            getCropCards()
     }

        function handleDeleteError(request) {
            alert('Error: Failed to fetch data from server');
        }

        let encodedUserCropId = encodeURIComponent(userCropId);
        // Request delete template in line 83 of app.py
        let url = '/delete_template?usercropid=' + encodedUserCropId;

        if (deleteRequest !== null) {
            console.log("ABOORT");
            deleteRequest.abort();
        }

        let requestData = {
            type: 'POST',
            url: url,
            contentType: 'application/json',
            success: handleDeleteResponse,
            error: handleDeleteError,
    
            };
        deleteRequest = $.ajax(requestData)
        }
        
//---------------------------------------------------------------------------------
// Function to fetch and render crop cards. Automatically gets called on load
//---------------------------------------------------------------------------------
    let request = null;
    function getCropCards() {

        function makeCropCard(crops_with_todos) {
            let map = {crops_with_todos: crops_with_todos};                         // Prepare the data for the Mustache template
            let html = Mustache.render(templateCropCard, map);  // Render the HTML using Mustache
            return html;
        }
        
        function handleResponse(crop_with_todos) {
            if (crop_with_todos.length === 0) {
                $('#cropcards').html('');
            } else {
                let html = makeCropCard(crop_with_todos);
                $('#cropcards').html(html);
                //jsForDynamicElelements();
            }
     }

        function handleError(request) {
            alert('Error: Failed to fetch data from server');
        }

        // Start of function
        let url = '/getCropCardInfo';
        if (request !== null) {
            console.log("ABOORT");
            request.abort();
        }

        let requestData = {
            type: 'GET',
            url: url,
            success: handleResponse,
            error: handleError
        };

        request = $.ajax(requestData)
    }

//---------------------------------------------------------------------------------

    function setup() {
            console.log("SETUP");
            // Click on crop names
            $('[id^=card-button]').on('click', function() {
                var varietyId = $(this).attr('id').split('card-button-')[1];
                window.location.href = '/showcrop/' + varietyId;
            });
            // Click on add crop
            $('#end_add_crop').on('click', function() {
                window.location.href = '/selectFamily';
            });
        
            getCropCards();
        }

    $('document').ready(setup)


    // function jsForDynamicElelements() {
    // // Click info button
    // $('[id^=infoButton]').on('click', function() {
        
    //     var familyClicked = $(this).attr('id').split('infoButton-')[1];
    //     console.log(familyClicked);
    //     let encodedCropId = encodeURIComponent(familyClicked);
    //     let url = '/get_crop_fullName?id=' + encodedCropId;
    //     if (request !== null) {
    //         console.log("ABOORT");
    //         request.abort();
    //     }
    //     request = new XMLHttpRequest();
    //     request.onload = handleResponse;
    //     request.onerror = handleError;
    //     request.open('GET', url);
    //     request.send();
    

    //     function makeModalText(cropName) {
    //         let map = {cropName: cropName};
    //         let html = Mustache.render(templateVarietyList, map);
    //         return html;
    //         console.log("convert to html");
    //     }
        
    //     function handleResponse(variety) {
    //         if(this.status !== 200) {
    //         alert('Error: Failed to fetch data from server test');
    //         return;
    //         }
    //         let response = JSON.parse(this.response);
    //         // Get the modal element
    //         var infoModal = new bootstrap.Modal(document.getElementById('infoModal'));

    //         let divNode = document.getElementById('modal-body');
    //         divNode.innerHTML = '';
    //         let buttonList = makeModalText(response);
    //         divNode.innerHTML = buttonList;
        
    //         // Show the modal
    //         infoModal.show();
    //     }

    //     function handleError(request) {
    //            alert('Error: Failed to fetch data from server');
    //         }
    
    // });

    </script>
    </body>
</html>




<!--


        function showEditForm(userCropId) {
            document.getElementById(`edit-form-${userCropId}`).style.display = 'block';
        }

        function cancelEdit(userCropId) {
            document.getElementById(`edit-form-${userCropId}`).style.display = 'none';
        }

        function submitEdit(userCropId) {
            const taskField = document.getElementById(`taskDropdown-${userCropId}`).value;
            const newDate = document.getElementById(`taskDateInput-${userCropId}`).value;

            if (!taskField || !newDate) {
                alert("Please select a task and a date!");
                return;
            }

            // Send AJAX request to edit the task
            $.ajax({
                url: '/edit_task',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    user_crop_id: userCropId,
                    date_field: taskField,
                    new_date: newDate
                }),
                success: function (response) {
                    if (response.success) {
                        //TODO: Use AJAX to update dynamically instead of reloading page
                        location.reload(); 
                    } else {
                        alert("Failed to update task: " + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("An error occurred while updating the task: " + error);
                }
            });
        }
        function showAddForm(userCropId) {
            document.getElementById(`add-form-${userCropId}`).style.display = 'block';
}

        function cancelAdd(userCropId) {
            document.getElementById(`add-form-${userCropId}`).style.display = 'none';
        }

        function submitAdd(userCropId) {
            const newTask = document.getElementById(`newTaskInput-${userCropId}`).value;
            const taskDate = document.getElementById(`addTaskDate-${userCropId}`).value;

            if (!newTask || !taskDate) {
                alert("Please enter a task name and date!");
                return;
            }

            // Send AJAX request to add the task
            $.ajax({
                url: '/add_task',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    user_crop_id: userCropId,
                    new_task: newTask,
                    new_date: taskDate
                }),
                success: function (response) {
                    if (response.success) {
                        //TODO: Use AJAX to update dynamically instead of reloading page
                        location.reload(); 
                    } else {
                        alert("Failed to add task: " + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("An error occurred while adding the task: " + error);
                }
            });
        }









                
        {% for crop_info, todos, variety_id in crops_with_todos %}
            <div class="card card-body m-2 mb-3" style="min-width: 75vw; min-height: 300px; background-color: #517D5A">
                <h3> 
                    <div class="card-title d-flex justify-content-center align-items-center">
                        <button class = "btn btn-dark" type = "button" id = "card-button-{{ variety_id }}"> 
                            <em style = "font-size: 6.5vw"> 
                                {{ crop_info['variety_name'] }}
                            </em>
                        </button>
                
                        <img id="infoButton-{{crop_info['variety_name']}}" src = "./static/img/info.png" alt="info logo" style="width:8vw;height:8vw;" >
                        <button class="btn btn-danger" onclick="deleteCrop({{ todos[0]['user_crop_id'] }})">Delete Crop</button>
                   
                    </div>
                </h3>
                {% set outer_loop = loop %}

                {% for todo in todos %}
                <span style="display: none;">{{ loop.index }}</span>
                {% include 'homepage/checkbox.html' %}
                <hr>
                {% endfor %}



                <button id="edit-button-{{todos[0]['user_crop_id']}}" onclick="showEditForm({{ todos[0]['user_crop_id'] }})">Edit Task</button>
                <div id="edit-form-{{todos[0]['user_crop_id']}}" style="display: none;">
                    <h3>Select a task to edit</h3>
                    <label for="taskDropdown-{{todos[0]['user_crop_id']}}">Task:</label>
                    <select id="taskDropdown-{{todos[0]['user_crop_id']}}">
                        <option value="indoor_seed_starting_date">Start indoor seeding</option>
                        <option value="transplanting_date">Transplant plants outdoors</option>
                        <option value="direct_sow_date">Direct sowing</option>
                        <option value="harvest_date">Prepare for harvest</option>
                    </select>
                    <label for="taskDateInput-{{todos[0]['user_crop_id']}}">New Date:</label>
                    <input type="date" id="taskDateInput-{{todos[0]['user_crop_id']}}">
                    <button onclick="submitEdit({{ todos[0]['user_crop_id'] }})">Save</button>
                    <button onclick="cancelEdit({{ todos[0]['user_crop_id'] }})">Cancel</button>
                </div>  

                <!-- Add Tasks and Forms 
                <button id="add-button-{{todos[0]['user_crop_id']}}" onclick="showAddForm({{ todos[0]['user_crop_id'] }})">Add Task</button>
                <div id="add-form-{{todos[0]['user_crop_id']}}" style="display: none;">
                    <h3>Add a task</h3>
                    <label for="newTaskInput-{{todos[0]['user_crop_id']}}">New Task:</label>
                    <input type="text" id="newTaskInput-{{todos[0]['user_crop_id']}}">
                    <label for="addTaskDate-{{todos[0]['user_crop_id']}}">Date:</label>
                    <input type="date" id="addTaskDate-{{todos[0]['user_crop_id']}}">
                    <button onclick="submitAdd({{ todos[0]['user_crop_id'] }})">Save</button>
                    <button onclick="cancelAdd({{ todos[0]['user_crop_id'] }})">Cancel</button>
                </div>                
            </div>
        {% endfor %}


-->