<!DOCTYPE html>
<html>
    <head>

     <!-- Link to Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
     <!-- Link to Bootstrap js -->
     <script src= "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"> </script>
     <!-- Link to jQuery -->
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
     
    <!-- CSS Internal Styling -->
     <style>
        .container {
                color: rgb(114, 161, 138);
                font-family: Georgia, 'Times New Roman', Times, serif;
                text-align: center;
            }
        .p {
            color: rgb(255, 255, 255);
                font-family: Georgia, 'Times New Roman', Times, serif;
        }

     </style>

    <script> 
    $(function(){
      $("#footer").load("footer"); 
    });
    </script> 
    </head>

    <body>
         <!-- Title and Search Bar  -->
        <div class="container">
            <br>
            <h1 id="Title">Select Family</h1>
            <input type="text", id="textInput", autofocus> <input type="submit" value="Submit">

        </div>
            <!-- Card(Background)  -->
            <div class="card card-body m-2 mb-3" style="min-width: 75vw; height: 100vw; background-color: #517D5A">
                <h3>   
                    <div class="card-title d-flex justify-content-center align-items-center">
                        <p class="card-text">
                            <div class="container">
                                <div class="row">
                                    <div id="familyDiv">  </div>    
                                </div>
                                <br>
                                <div class="row">
                                    <div id="speciesDiv">  </div>
                                    
                                </div>
                                <div class="row">
                                    <div id="varietyDiv">  </div>
                                </div>
                            </div>
                           
                            <br>
                            
                        </p>  
                    </div>
                </h3>
            </div>

            <div id="addFamilyPopup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid #ccc; background: #fff; padding: 20px; box-shadow: 0px 4px 6px rgba(0,0,0,0.2); z-index: 1000;">
                <form action="/addfamily" method="post">
                    <strong>Family Name</strong>
                    <input type="text", name="family_name", autofocus> <br>
                    <input type="submit" value="Add Family">
                    <button type="button" onclick="togglePopup('addFamilyPopup')">Cancel</button>
                </form>
            </div>

        
        {<div id="footer"> </div>}



    <!-- Link to Mustache -->
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
        

    <script> 

    'use strict';
    let isAdmin = false;  // Initialize isAdmin

    // Ensure the DOM is fully loaded before the script runs
    document.addEventListener('DOMContentLoaded', function() {
        setup();  // Call setup when the DOM is ready
        checkAdminStatus();  // Check if the user is an admin
    });

    function setup() {
        let familyInput = document.getElementById('textInput');
        familyInput.addEventListener('input', debouncedGetResults);
        getFamilyResults();  // Fetch family results on setup
    }


    // Function to add admin-specific features
    function addAdminFeatures() {
        const familyDiv = document.getElementById('familyDiv');  // Assuming this element exists

        // Check if the "Add New Family" button already exists
        if (!document.getElementById('addFamilyButton')) {
            const addFamilyButton = document.createElement('button');
            addFamilyButton.textContent = 'Add New Family';
            addFamilyButton.id = 'addFamilyButton';
            addFamilyButton.classList.add('btn', 'btn-success', 'btn-lg', 'mt-3');
            addFamilyButton.onclick = () => togglePopup('addFamilyPopup');
            familyDiv.appendChild(addFamilyButton);
        }

        const editFamilyActions = document.createElement('div');
        editFamilyActions.classList.add('mt-3');
        editFamilyActions.id = 'editFamilyActions';
        familyDiv.appendChild(editFamilyActions);
        console.log(editFamilyActions);

        const speciesDiv = document.getElementById('speciesDiv');
        const editSpeciesActions = document.createElement('div');
        editSpeciesActions.classList.add('mt-3');
        editSpeciesActions.id = 'editSpeciesActions';
        speciesDiv.appendChild(editSpeciesActions);
    }


    let templateFamilyList = ` 
        <select class="form-select" id="templateFamilyList" aria-label="Default select Family">
            <option selected>Open this select menu</option>
            {{#family}}
            <option value={{family_id}}>{{family_name}}</option>
            {{/family}}
        </select>
    `;

    let templateSpeciesList = ` 
        <select class="form-select" id="templateSpeciesList" aria-label="Default select Family">
            <option selected>Open this select menu</option>
            {{#species}}
            <option value={{species_id}}>{{species_name}}</option>
            {{/species}}
        </select>
    `;

    let templateVarietyList = ` 
        <select class="form-select" id="templateVarietyList" aria-label="Default select Family">
            <option selected>Open this select menu</option>
            {{#variety}}
            <option value={{variety_id}}>{{variety_name}}</option>
            {{/variety}}
        </select>
    `;

    function togglePopup(popupId) {
        const popupForm = document.getElementById(popupId);
        if (popupForm.style.display === 'none') {
            popupForm.style.display = 'block';
        } else {
            popupForm.style.display = 'none';
        }
    }

    let request = null;
    // Function to check if the user is an admin
    function checkAdminStatus() {
        let request = new XMLHttpRequest();
        request.onload = function() {
            if (this.status !== 200) {
                alert('Error: Failed to fetch admin status');
                return;
            }
            let response = JSON.parse(this.response);
            isAdmin = response === true;
            console.log(isAdmin ? 'User is an admin' : 'User is not an admin');
            if (isAdmin) {
                addAdminFeatures(); // Add admin-specific elements if the user is an admin
            }
        };
        request.onerror = function() {
            alert('Error: Failed to check admin status');
        };
        request.open('GET', '/isAdmin');
        request.send();
    }

    function getFamilyResults() {
        function makeCropList(family) {
            let map = {family: family};
            return Mustache.render(templateFamilyList, map);
        }

        function handleResponse() {
            if (this.status !== 200) {
                alert('Error: Failed to fetch data from server');
                return;
            }
            let response = JSON.parse(this.response);
            let divNode = document.getElementById('familyDiv');
            divNode.innerHTML = '';
            let buttonList = makeCropList(response);
            divNode.innerHTML = buttonList;
            checkAdminStatus();
        }

        function handleError() {
            alert('Error: Failed to fetch data from server');
        }

        let familyId = $('#textInput').val();
        let encodedFamilyId = encodeURIComponent(familyId);
        let url = '/showFamily?family=' + encodedFamilyId;

        if (request !== null) {
            request.abort();
        }

        request = new XMLHttpRequest();
        request.onload = handleResponse;
        request.onerror = handleError;
        request.open('GET', url);
        request.send();
    }

    function getSpeciesResults(familyId) {
        function makeCropList(species) {
            let map = {species: species};
            return Mustache.render(templateSpeciesList, map);
        }

        function handleResponse() {
            if (this.status !== 200) {
                alert('Error: Failed to fetch data from server');
                return;
            }
            let response = JSON.parse(this.response);
            let divNode = document.getElementById('speciesDiv');
            divNode.innerHTML = '';
            let buttonList = makeCropList(response);
            divNode.innerHTML = buttonList;
            checkAdminStatus();

        }

        function handleError() {
            alert('Error: Failed to fetch data from server');
        }

        let encodedFamilyId = encodeURIComponent(familyId);
        let url = '/showSpecies?family=' + encodedFamilyId;

        if (request !== null) {
            request.abort();
        }

        request = new XMLHttpRequest();
        request.onload = handleResponse;
        request.onerror = handleError;
        request.open('GET', url);
        request.send();
    }

    function getVarietyResults(speciesId) {
        function makeCropList(variety) {
            let map = {variety: variety};
            return Mustache.render(templateVarietyList, map);
        }

        function handleResponse() {
            if (this.status !== 200) {
                alert('Error: Failed to fetch data from server');
                return;
            }
            let response = JSON.parse(this.response);
            let divNode = document.getElementById('varietyDiv');
            divNode.innerHTML = '';
            let buttonList = makeCropList(response);
            divNode.innerHTML = buttonList;
            checkAdminStatus();

        }

        function handleError() {
            alert('Error: Failed to fetch data from server');
        }

        let encodedSpeciesId = encodeURIComponent(speciesId);
        let url = '/showVariety?species=' + encodedSpeciesId;

        if (request !== null) {
            request.abort();
        }

        request = new XMLHttpRequest();
        request.onload = handleResponse;
        request.onerror = handleError;
        request.open('GET', url);
        request.send();
    }

    let timer = null;

    function debouncedGetResults() {
        clearTimeout(timer);
        timer = window.setTimeout(getFamilyResults, 500);
    }

    $(document).ready(function() {
        // Check if the user is an admin
        $.ajax({
            url: '/isAdmin',
            method: 'GET',
            success: function(response) {
                if (response.isAdmin) {
                    isAdmin = true;
                    // Add admin-specific elements (like buttons) here
                    addAdminFeatures();  // Ensure admin features are added if the user is an admin
                } else {
                    isAdmin = false;
                }
            },
            error: function() {
                alert('Error: Unable to verify admin status.');
            }
        });

        $(document).on('change', '#templateFamilyList', function() {
            var selectedValue = $(this).val();
            getSpeciesResults(selectedValue);
            var familyActionsContainer = document.getElementById('editFamilyActions');
            console.log(familyActionsContainer);
            familyActionsContainer.innerHTML = `
                <button type="button" onclick="togglePopup('editFamilyPopup${selectedValue}')" class="btn btn-success btn-sm">Edit</button>
                <form action="/deletefamily/${selectedValue}" method="post" class="d-inline">
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                </form>

                <div id="editFamilyPopup${selectedValue}" class="popup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid #ccc; background: #fff; padding: 20px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); z-index: 1000; border-radius: 8px;">
                    <form action="/editfamily/${selectedValue}" method="post">
                        <strong>Family Name</strong>
                        <input type="text" name="family_name" class="form-control mb-2" autofocus> <br>
                        <input type="submit" value="Edit Family" class="btn btn-success">
                        <button type="button" onclick="togglePopup('editFamilyPopup${selectedValue}')" class="btn btn-secondary btn-sm">Cancel</button>
                    </form>
                </div>

                <button onclick="togglePopup('addSpeciesPopup')" class="btn btn-primary btn-sm">Add New Species</button>
                <div id="addSpeciesPopup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid #ccc; background: #fff; padding: 20px; box-shadow: 0px 4px 6px rgba(0,0,0,0.2); z-index: 1000; border-radius: 8px;">
                    <form action="/addspecies/${selectedValue}" method="post">
                        <strong>Species Name</strong>
                        <input type="text" name="species_name" class="form-control mb-2" autofocus><br>
                        <input type="submit" value="Add Species" class="btn btn-success">
                        <button type="button" onclick="togglePopup('addSpeciesPopup')" class="btn btn-secondary btn-sm">Cancel</button>
                    </form>
                </div>

            `;
        });
    });

    $(document).on('change', '#templateSpeciesList', function() {
        var selectedValue = $(this).val();
        console.log(selectedValue);

        getVarietyResults(selectedValue);
        var speciesActionsContainer = document.getElementById('editSpeciesActions');
        speciesActionsContainer.innerHTML = `
            
            <button type="button" onclick="togglePopup('editSpeciesPopup${selectedValue}')" class="btn btn-success btn-sm">Edit</button>
            <form action="/deletespecies/${selectedValue}" method="post" class="d-inline">
                <input type="submit" value="Delete" class="btn btn-danger btn-sm">
            </form>
            <div id="editSpeciesPopup${selectedValue}" class="popup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid #ccc; background: #fff; padding: 20px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); z-index: 1000; border-radius: 8px;">
                <form action="/editspecies/${selectedValue}" method="post">
                    <strong>Species Name</strong>
                    <input type="text" name="species_name" class="form-control mb-2" autofocus> <br>
                    <strong>Latin Name</strong>
                    <input type="text" name="latin_name" class="form-control mb-2" autofocus> <br>
                    <input type="submit" value="Edit species" class="btn btn-success">
                    <button type="button" onclick="togglePopup('editSpeciesPopup${selectedValue}')" class="btn btn-secondary btn-sm">Cancel</button>
                </form>
            </div>
                   ` ;
    });

    $(document).on('change', '#templateVarietyList', function() {
        var selectedValue = $(this).val();
        window.location = '/showcrop/' + selectedValue
    });


    </script>
 
    </body>
</html>