<!DOCTYPE html>
<html>
    <head>

     <!-- Link to Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
     <!-- Link to Bootstrap js -->
     <script src= "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"> </script>
     <!-- Link to jQuery -->
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
     
    <!-- CSS Internal Styling -->
     <style>
        .container {
                color: rgb(114, 161, 138);
                font-family: Georgia, 'Times New Roman', Times, serif;
                text-align: center;
            }
        .p {
            color: rgb(255, 255, 255);
                font-family: Georgia, 'Times New Roman', Times, serif;
        }
     </style>
    </head>


    <body>
         <!-- Title and Search Bar  -->
        <div class="container">
            <br>
            <h1 id="Title">Select Family</h1>
            <input type="text", id="textInput", autofocus> <input type="submit" value="Submit">

       <div class="card card-body m-2 mb-3" style="min-width: 75vw; height: 100vw; background-color: #517D5A">
           <h3>  
               <div class="card-title d-flex justify-content-center align-items-center">
                   <p>
                       {% for family in families: %}
                       <br>
                       <a  href="/selectSpecies/{{ family['family_id'] }}">{{ family['family_name'] }}</a> {% if admin %} <a href="/deletefamily/{{ family['family_id'] }}">Delete Family</a>  <a href="/editfamily/{{ family['family_id'] }}">Edit Family</a>{% endif %}
                       <br>
                       {% endfor %}
                       <br>
                       <a href="/createfamily">Add New Family</a>
                   </p>
                  
               </div>
           </h3>
       </div>
       <hr> 

        
        {% include 'footer.html' %}

 
    </body>
</html>