{% for crop_info in crop_infos: %}
    <strong>Family:</strong> {{ crop_info['family_name'] }}<br>
    <strong>Latin Name:</strong> {{ crop_info['latin_name'] }}<br>
    <strong>Variety:</strong> {{ crop_info['variety_name'] }}<br>
    <strong>Type:</strong> {{ crop_info['crop_type'] }}<br>
    <strong>Seed Spacing for Harvesting Crops:</strong> {{ crop_info['plant_spacing_harvest'] }}<br>
    <strong>Row Spacing for Harvesting Crops:</strong> {{ crop_info['row_spacing_harvest'] }}<br>
    <strong>Seed Spacing for Harvesting Seeds:</strong> {{ crop_info['plant_spacing_seed'] }}<br>
    <strong>Row Spacing for Harvesting Seeds:</strong> {{ crop_info['row_spacing_seed'] }}<br>
    <strong>Days to Maturity for Harvesting Crops:</strong> {{ crop_info['days_to_maturity_harvest'] }}<br>
    <strong>Days to Maturity for Harvesting Seeds:</strong> {{ crop_info['days_to_maturity_seed'] }}<br>
    <strong>Days to Transplantation:</strong> {{ crop_info['days_to_transplantation'] }}<br>
    <strong>Days to Direct Sow:</strong> {{ crop_info['days_to_direct_sow'] }}<br>
    <strong>Days for Harvesting Crops:</strong> {{ crop_info['days_to_harvest'] }}<br>
    <strong>Days for Harvesting Seeds:</strong> {{ crop_info['days_to_seed_harvest'] }}<br>
    <strong>Frost Sensitivity Rating:</strong> {{ crop_info['frost_sensitivity_rating'] }}<br>
{% endfor %}
<hr>
