<!DOCTYPE html>
<html>
    <form action="/posteditvariety/{{ variety['variety_id'] }}" method="post">
        <strong>Variety</strong>
        <input type="text" name="variety_name", value="{{ variety['variety_name'] }}" autofocus> <br>
        <strong>Crop Type</strong>
        <input type="text" name="crop_type_name", value="{{ variety['crop_type_name'] }}" autofocus> <br>
        <strong>Seed Spacing for Harvesting Crops:</strong>
        <input type="text" name="plant_spacing_harvest", value="{{ variety['plant_spacing_harvest'] }}" autofocus> <br>
        <strong>Seed Spacing for Harvesting Seeds:</strong>
        <input type="text" name="plant_spacing_seed", value="{{ variety['plant_spacing_seed'] }}" autofocus> <br>
        <strong>Row Spacing for Harvesting Crops:</strong>
        <input type="text" name="row_spacing_harvest", value="{{ variety['row_spacing_harvest'] }}" autofocus> <br>
        <strong>Row Spacing for Harvesting Seeds:</strong>
        <input type="text" name="row_spacing_seed'", value="{{ variety['row_spacing_seed'] }}" autofocus> <br>
        <strong>Days to Maturity for Harvesting Crops:</strong>
        <input type="text" name="days_to_maturity_harvest", value="{{ variety['days_to_maturity_harvest'] }}" autofocus> <br>
        <strong>Days to Maturity for Harvesting Seed:</strong>
        <input type="text" name="days_to_maturity_seed", value="{{ variety['days_to_maturity_seed'] }}" autofocus> <br>
        <strong>Days to Transplantation:</strong>
        <input type="text" name="days_to_transplantation", value="{{ variety['days_to_transplantation'] }}" autofocus> <br>
        <strong>Days to Direct Sow:</strong>
        <input type="text" name="days_to_direct_sow", value="{{ variety['days_to_direct_sow'] }}" autofocus> <br>
        <strong>Days for Harvesting Crops:</strong>
        <input type="text" name="days_to_harvest", value="{{ variety['days_to_harvest'] }}" autofocus> <br>
        <strong>Days for Harvesting Seeds:</strong>
        <input type="text" name="days_to_seed_harvest", value="{{ variety['days_to_seed_harvest'] }}" autofocus> <br>
        <strong>Frost Sensitivity Rating:</strong>
        <input type="text" name="frost_sensitivity_rating", value="{{ variety['frost_sensitivity_rating'] }}" autofocus> <br>
        <input type="submit" value="Edit Variety">
    </form>
    <hr>
    {% include 'footer.html' %}
</html>

