<!DOCTYPE html>

<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src= 
        "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
    </script>

</head>

<style>
    .circle {
      aspect-ratio: 1;
    }
  </style>

 <html>
    <div class = "container-fluid">
        <div class = "row mb-3">
            <div class = "col">
                <div class="h-100 rounded-circle circle bg-success text-white d-flex align-items-center justify-content-center">
                    Info 1
                </div>
            </div>
            <div class = "col">
                <div class="h-100 rounded-circle circle bg-success text-white d-flex align-items-center justify-content-center">
                    Info 2
                </div>
            </div>
            <div class = "col">
                <div class="h-100 rounded-circle circle bg-success text-white d-flex align-items-center justify-content-center">
                    Info 3
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-6 mx-auto text-center">
                <button class = "btn btn-primary w-100" type = "button" id = "test_button"> Press me for jQuery</button>
            </div>
        </div>
    </div>

    <script src=
        "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js">
    </script>
    <script>
        $(document).ready(function() {
            $('#test_button').on('click', function() {
                alert('jQuery working');
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
 </html>