<!DOCTYPE html>
<html>

    <head>
        <link rel="manifest" href="../manifest.json" />
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <hr>
        {% include 'header.html' %}
        <button id="logoutButton">Logout</button>
        <h1>
            {% if user_name %}
                Welcome, {{ user_name }}!
            {% else %}
                Welcome, Guest!
            {% endif %}
        </h1>
        <hr>
        Frost warning information
        <hr>
        <button id="navigateButton">Start Tracking a New Crop</button>
        <hr>
        Display crop information
        <hr>
        {% include 'footer.html' %}
    </body>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/serviceWorker.js')
                .then(function(registration) {
                    console.log('Service Worker registered with scope:', registration.scope);
                })
                .catch(function(error) {   
                    console.log('Service Worker registration failed:', error);
                });
            });
        }
    </script>
</html>
