<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="manifest" href="../manifest.json" />
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <hr>
        {% include 'header.html' %}
        <hr>
        Frost warning information
        <hr>
        <button id="navigateButton">Start Tracking a New Crop</button>
        <hr>
        Display crop information
        <hr>
        {% include 'footer.html' %}

    </body>
    <script src="/static/script.js"></script>
</html>
