<!DOCTYPE html>
<html>

    <head>
        <link rel="manifest" href="../manifest.json" />
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <hr>
        {% include 'header.html' %}
        <h1>
            {% if first_name or last_name %}
                Welcome, {{ first_name }} {{ last_name }}!
            {% else %}
                Welcome, Guest!
            {% endif %}
        </h1>
        <hr>
        <button id="loginButton">Login</button>
        Frost warning information
        <hr>
        <button id="navigateButton">Start Tracking a New Crop</button>
        <hr>
        Display crop information
        <hr>
        {% include 'footer.html' %}
    </body>
    <script src="/static/script.js"></script>
</html>
