<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="manifest" href="../static/manifest.json" />
        <script>
            if ('serviceWorker' in navigator) {
              window.addEventListener('load', function() {
                navigator.serviceWorker.register("../static/serviceWorker.js").then(function(registration) {
                  console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                  console.log('ServiceWorker registration failed: ', err);
                });
              });
            }
          </script>
    </head>
    <body>
        <hr>
        {% include 'header.html' %}
        <hr>
        Frost warning information
        <hr>
        <a href="/selectFamily">Start Tracking a new Crop</a>
        <hr>
        Display crop information
        <hr>
        {% include 'footer.html' %}

    </body>
</html>
