<!DOCTYPE html>
<html>
    <head>
        <link rel="manifest" href="../manifest.json" />
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <hr>
        {% include 'header.html' %}
        <hr>
        Frost warning information
        <hr>
        <button id="navigateButton">Start Tracking a New Crop</button>
        <button id ="homepageButton"> Go to homepage for dev </button>
        <button id ="logoutButton"> Logout </button>
        <hr>
        Display crop information
        <hr>
        {% include 'footer.html' %}
    </body>
    <script src="/static/js/script.js"></script>
</html>