<!DOCTYPE html>
<html>
    <body>
        {% include 'cropselection_header.html' %}
        <br>
        <strong>Select Species</strong>
        <hr>
        {% if admin %}
        <a href="/createspecies/{{family_id}}">Add New Species</a>
        {% endif %}
        <hr>
        <br>
        {% for spec in species: %}
            <a href="/selectVariety/{{ spec['species_id'] }}">{{ spec['species_name'] }}</a> {% if admin %} <a href="/deletespecies/{{ spec['species_id'] }}">Delete Species</a> {% endif %}
            <hr>
        {% endfor %}
        {% include 'footer.html' %}
    </body>
</html>