<!DOCTYPE html>
<html>
    <body>
        {% include 'cropselection_header.html' %}
        <br>
        <strong>Select Family</strong>
        <br>
        <form action="/selectFamily" method="get">
            <input type="text", name="family", autofocus> <input type="submit" value="Submit">
        </form>
        <br>
        {% if admin %}
        <a href="/createfamily">Add New Family</a>
        {% endif %}
        <br>
        <hr>
        {% for family in families: %}
            <a href="/selectSpecies/{{ family['family_id'] }}">{{ family['family_name'] }}</a> <a href="/deletefamily/{{ family['family_id'] }}">Delete Family</a> 
            <hr>
        {% endfor %}
        {% include 'footer.html' %}
    </body>
</html>