<!DOCTYPE html>
<html>
    <body>
        {% include 'cropselection_header.html' %}
        <br>
        <strong>Select Family</strong>
        <br>
        <form action="/searchcrops" method="get">
            <input type="text", name="crop_name", autofocus> <input type="submit" value="Submit">
        </form>
        <br>
        <hr>
        {% for crop in crops: %}
            <a href="/showcrop/{{ crop['type'] }}">{{ crop['type'] }}</a>
            <hr>
        {% endfor %}
        {% include 'footer.html' %}
    </body>
</html>