<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Details</title>
    <!-- Bootstrap CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Link to Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Link to jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <!-- CSS Internal Styling -->

    <style>
        /* Custom styles */
        .page-title {
            font-size: 2rem;
            color: #3a3a3a;
        }
        .action-button {
            color: #fff;
            text-decoration: none;
        }
        .content-section, .task-section {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 8px;
            margin-top: 20px;
        }
        .section-title {
            font-size: 1.5rem;
            color: #343a40;
        }
        .divider {
            border-top: 2px solid #e9ecef;
            margin: 1rem 0;
        }
        .task-list {
            list-style-type: none;
            padding: 0;
        }
        .task-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .task-item .done {
            text-decoration: line-through;
            color: #6c757d;
        }
        body {
            padding-bottom: 8vh; 
        }
    </style>
    <script>
        function toggleDone(checkbox, taskId) {
            const taskText = document.getElementById('task-' + taskId);
            taskText.classList.toggle('done', checkbox.checked);
        }
        function togglePopup(popupId) {
            console.log(popupId)
            const popupForm = document.getElementById(popupId);
            if (popupForm.style.display === 'none') {
                popupForm.style.display = 'block';
            } else {
                popupForm.style.display = 'none';
            }
        }
        

       


    </script>
</head>
<body>
    <strong></strong>
    <div id="addVarietyPopup" style="display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: 1px solid #ccc; 
    background: #fff; 
    padding: 20px; 
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2); 
    z-index: 1000; 
    max-height: 80vh; /* Limit the height */
    overflow-y: auto; /* Make it scrollable */ 
    width: 90%; /* Adjust width for smaller screens */
    max-width: 600px; /* Prevent it from being too wide */">
        <form action="/addvariety/{{ species_id }}" onsubmit='return validateAddVarietyForm(event)' method="post">
            <strong>Variety</strong>
            <input type="text", name="variety_name", autofocus> <br>
            <strong>Crop Type</strong>
            <input type="text", name="crop_type_name", autofocus> <br>
            <strong>Seed Spacing for Harvesting Crops (in):</strong>
            <input type="text", name="plant_spacing_harvest", value={{ crop_infos[0]['plant_spacing_harvest'] }} autofocus> <br>
            <strong>Seed Spacing for Harvesting Seeds (in):</strong>
            <input type="text", name="plant_spacing_seed", value={{ crop_infos[0]['plant_spacing_seed'] }} autofocus> <br>
            <strong>Row Spacing for Harvesting Crops (in):</strong>
            <input type="text", name="row_spacing_harvest", value={{ crop_infos[0]['row_spacing_harvest'] }} autofocus> <br>
            <strong>Row Spacing for Harvesting Seeds (in):</strong>
            <input type="text", name="row_spacing_seed", value={{ crop_infos[0]['row_spacing_seed'] }} autofocus> <br>
            <strong>Days to Maturity for Harvesting Crops:</strong>
            <input type="text", name="days_to_maturity_harvest", value={{ crop_infos[0]['days_to_maturity_harvest'] }} autofocus> <br>
            <strong>Days to Maturity for Harvesting Seed:</strong>
            <input type="text", name="days_to_maturity_seed", value={{ crop_infos[0]['days_to_maturity_seed'] }} autofocus> <br>
            <strong>Days to Transplantation:</strong>
            <input type="text", name="days_to_transplantation", value={{ crop_infos[0]['days_to_transplantation'] }} autofocus> <br>
            <strong>Days to Direct Sow:</strong>
            <input type="text", name="days_to_direct_sow", value={{ crop_infos[0]['days_to_direct_sow'] }} autofocus> <br>
            <strong>Days for Harvesting Crops:</strong>
            <input type="text", name="days_to_harvest", value={{ crop_infos[0]['days_to_harvest'] }} autofocus> <br>
            <strong>Days for Harvesting Seeds:</strong>
            <input type="text", name="days_to_seed_harvest", value={{ crop_infos[0]['days_to_seed_harvest'] }} autofocus> <br>
            <strong>Frost Sensitivity Rating:</strong>
            <input type="text", name="frost_sensitivity_rating", value={{ crop_infos[0]['frost_sensitivity_rating'] }} autofocus> <br>
            <input type="submit" onclick="if (validateAddVarietyForm()) { this.disabled = true; this.form.submit(); } else { return false; }" value="Add Variety">
            <button type="button" onclick="togglePopup('addVarietyPopup')">Cancel</button>
            <br><br><br>
        </form>
        <script>
            function validateAddVarietyForm(event) {
                function validInteger(intVal) {
                    if (typeof intVal !== 'string' || intVal.length > 20) {
                        return false;
                    }

                    // Remove leading and trailing spaces
                    intVal = intVal.trim();

                    // Check for number followed by character or exponential notation
                    const regex = /^[0-9]+$/;

                    // Check if the input matches the regex (only digits)
                    if (!regex.test(intVal)) {
                        return false;
                    }


                    const parsedValue = parseInt(intVal, 10); // Explicitly specify base 10 for parsing
                    // Check if parsed value is a valid non-negative integer within the safe range
                    return Number.isInteger(parsedValue) && parsedValue >= 0 && parsedValue <= Number.MAX_SAFE_INTEGER;
                }

                function isEmpty(val) {
                    return val == "" || val == 'None';
                }

                function isValid(val) {
                    return validInteger(val) || isEmpty(val);
                }
                // Get form field values
                const varietyName = document.querySelector('input[name="variety_name"]').value;
                const cropTypeName = document.querySelector('input[name="crop_type_name"]').value;
                const plantSpacingHarvest = document.querySelector('input[name="plant_spacing_harvest"]').value;
                const plantSpacingSeed = document.querySelector('input[name="plant_spacing_seed"]').value;
                const rowSpacingHarvest = document.querySelector('input[name="row_spacing_harvest"]').value;
                const rowSpacingSeed = document.querySelector('input[name="row_spacing_seed"]').value;
                const daysToMaturityHarvest = document.querySelector('input[name="days_to_maturity_harvest"]').value;
                const daysToMaturitySeed = document.querySelector('input[name="days_to_maturity_seed"]').value;
                const daysToTransplantation = document.querySelector('input[name="days_to_transplantation"]').value;
                const daysToDirectSow = document.querySelector('input[name="days_to_direct_sow"]').value;
                const daysToHarvest = document.querySelector('input[name="days_to_harvest"]').value;
                const daysToSeedHarvest = document.querySelector('input[name="days_to_seed_harvest"]').value;
                const frostSensitivityRating = document.querySelector('input[name="frost_sensitivity_rating"]').value;
                
                // Check if required fields (variety name and crop type) are not empty
                if (!varietyName) {
                    alert("Variety name cannot be empty.");
                    return false;  // Prevent form submission
                }

                // Combined validation for integer fields using validInteger function in one if statement
                if (
                    !isValid(plantSpacingHarvest) || !isValid(plantSpacingSeed) || !isValid(rowSpacingHarvest) || !isValid(rowSpacingSeed) ||
                    !isValid(daysToMaturityHarvest) || !isValid(daysToMaturitySeed) || !isValid(daysToTransplantation) || !isValid(daysToDirectSow) ||
                    !isValid(daysToHarvest) || !isValid(daysToSeedHarvest) || !validInteger(frostSensitivityRating)
                ) {
                    alert("Please ensure all integer fields contain valid integers or are left blank, and no negative values are entered.");
                    return false;
                }

                // If all checks pass, allow form submission
                return true;
            }
        </script>
    </div>
    <div id="editVarietyPopup" style="display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: 1px solid #ccc; 
    background: #fff; 
    padding: 20px; 
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2); 
    z-index: 1000; 
    max-height: 80vh; /* Limit the height */
    overflow-y: auto; /* Make it scrollable */ 
    width: 90%; /* Adjust width for smaller screens */
    max-width: 600px; /* Prevent it from being too wide */">
        <form action="/editvariety/{{ crop_infos[0]['variety_id'] }}" onsubmit='return validateEditVarietyForm(event)' method="post">
            <strong>Variety</strong>
            <input type="text" name="variety_edit_name" value='{{ crop_infos[0]['variety_name'] }}' required class="form-control" autofocus> <br>
            <strong>Crop Type</strong>
            <input type="text" name="crop_type_name_edit" value='{{ crop_infos[0]['crop_type_name'] }}' autofocus> <br>
            <strong>Seed Spacing for Harvesting Crops:</strong>
            <input type="text", name="plant_spacing_harvest_edit", value="{{ crop_infos[0]['plant_spacing_harvest'] }}" autofocus> <br>
            <strong>Seed Spacing for Harvesting Seeds:</strong>
            <input type="text" name="plant_spacing_seed_edit" value={{ crop_infos[0]['plant_spacing_seed'] }} autofocus> <br>
            <strong>Row Spacing for Harvesting Crops:</strong>
            <input type="text" name="row_spacing_harvest_edit" value={{ crop_infos[0]['row_spacing_harvest'] }} autofocus> <br>
            <strong>Row Spacing for Harvesting Seeds:</strong>
            <input type="text" name="row_spacing_seed_edit" value={{ crop_infos[0]['row_spacing_seed'] }} autofocus> <br>
            <strong>Days to Maturity for Harvesting Crops:</strong>
            <input type="text" name="days_to_maturity_harvest_edit" value={{ crop_infos[0]['days_to_maturity_harvest'] }} autofocus> <br>
            <strong>Days to Maturity for Harvesting Seed:</strong>
            <input type="text" name="days_to_maturity_seed_edit" value={{ crop_infos[0]['days_to_maturity_seed'] }} autofocus> <br>
            <strong>Days to Transplantation:</strong>
            <input type="text" name="days_to_transplantation_edit" value={{ crop_infos[0]['days_to_transplantation'] }} autofocus> <br>
            <strong>Days to Direct Sow:</strong>
            <input type="text" name="days_to_direct_sow_edit" value={{ crop_infos[0]['days_to_direct_sow'] }} autofocus> <br>
            <strong>Days for Harvesting Crops:</strong>
            <input type="text" name="days_to_harvest_edit" value={{ crop_infos[0]['days_to_harvest'] }} autofocus> <br>
            <strong>Days for Harvesting Seeds:</strong>
            <input type="text" name="days_to_seed_harvest_edit" value={{ crop_infos[0]['days_to_seed_harvest'] }} autofocus> <br>
            <strong>Frost Sensitivity Rating:</strong>
            <input type="text" name="frost_sensitivity_rating_edit" value={{ crop_infos[0]['frost_sensitivity_rating'] }} autofocus> <br>
            <input type="submit" onclick="if (validateEditVarietyForm()) { this.disabled = true; this.form.submit(); } else { return false; }" value="Edit Variety">
            <button type="button" onclick="togglePopup('editVarietyPopup')">Cancel</button>
            <br><br><br>
        </form>
        <script>
            function validateEditVarietyForm(event) {
                function validInteger(intVal) {
                    if (typeof intVal !== 'string' || intVal.length > 20) {
                        return false;
                    }

                    // Remove leading and trailing spaces
                    intVal = intVal.trim();

                    // Check for number followed by character or exponential notation
                    const regex = /^[0-9]+$/;

                    // Check if the input matches the regex (only digits)
                    if (!regex.test(intVal)) {
                        return false;
                    }


                    const parsedValue = parseInt(intVal, 10); // Explicitly specify base 10 for parsing
                    // Check if parsed value is a valid non-negative integer within the safe range
                    return Number.isInteger(parsedValue) && parsedValue >= 0 && parsedValue <= Number.MAX_SAFE_INTEGER;
                }

                function isEmpty(val) {
                    return val == "" || val == 'None';
                }

                function isValid(val) {
                    return validInteger(val) || isEmpty(val);
                }

                // Get form field values
                const varietyName = document.querySelector('input[name="variety_edit_name"]').value;
                const cropTypeName = document.querySelector('input[name="crop_type_name_edit"]').value;
                const plantSpacingHarvest = document.querySelector('input[name="plant_spacing_harvest_edit"]').value;
                const plantSpacingSeed = document.querySelector('input[name="plant_spacing_seed_edit"]').value;
                const rowSpacingHarvest = document.querySelector('input[name="row_spacing_harvest_edit"]').value;
                const rowSpacingSeed = document.querySelector('input[name="row_spacing_seed_edit"]').value;
                const daysToMaturityHarvest = document.querySelector('input[name="days_to_maturity_harvest_edit"]').value;
                const daysToMaturitySeed = document.querySelector('input[name="days_to_maturity_seed_edit"]').value;
                const daysToTransplantation = document.querySelector('input[name="days_to_transplantation_edit"]').value;
                const daysToDirectSow = document.querySelector('input[name="days_to_direct_sow_edit"]').value;
                const daysToHarvest = document.querySelector('input[name="days_to_harvest_edit"]').value;
                const daysToSeedHarvest = document.querySelector('input[name="days_to_seed_harvest_edit"]').value;
                const frostSensitivityRating = document.querySelector('input[name="frost_sensitivity_rating_edit"]').value;
                                        
                // Check if required fields (variety name and crop type) are not empty
                if (!varietyName) {
                    alert("Variety name cannot be empty.");
                    return false;  // Prevent form submission
                }

                // Combined validation for integer fields using validInteger function in one if statement
                if (
                    !isValid(plantSpacingHarvest) || !isValid(plantSpacingSeed) || !isValid(rowSpacingHarvest) || !isValid(rowSpacingSeed) ||
                    !isValid(daysToMaturityHarvest) || !isValid(daysToMaturitySeed) || !isValid(daysToTransplantation) || !isValid(daysToDirectSow) ||
                    !isValid(daysToHarvest) || !isValid(daysToSeedHarvest) || !validInteger(frostSensitivityRating)
                ) {
                    alert("Please ensure all integer fields contain valid integers or are left blank, and no negative values are entered.");
                    return false;
                }

                // If all checks pass, allow form submission
                return true;
            }
        </script>
    </div>

    <div class="container py-4">
        <h1 class="page-title text-center mb-4">{{ crop_infos[0]['variety_name'] }}</h1>
        <div class="text-end">
            {{ crop_infos[0]['crop_info_id'] }}
            <a href="/addusercrop/{{ crop_info_id }}" class="btn btn-success action-button">Add Crop</a>
            <button onclick="togglePopup('addVarietyPopup')">Create New Variety</button>
            {% if (admin) or (user_id|string == crop_infos[0]['user_id']|string) %}
                <button onclick="togglePopup('editVarietyPopup')">Edit This Variety</button>
                <form action="/deletevariety/{{ crop_infos[0]['variety_id'] }}" onclick="this.form.submit(); this.disabled=true;" method="post">
                    <input type="submit" value="Delete Variety">
                </form>
            {% endif %}
            

        </div>
        
        <div class="content-section">
            <!-- Include dynamic crop information here -->
            {% include 'displaycropinfo.html' %}
        </div>

        <div class="divider"></div>
        
        <footer>
            {% include 'footer.html' %}
        </footer>
    </div>

    <!-- Bootstrap JS and Popper.js via CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHj/GD76VjFqGaabiE/H6jnOE/Ia5nlxQ+24n3y1PwTxeyJz7s4e+4O" crossorigin="anonymous"></script>

</body>
</html>






