<style>
    .info_thing {
        font-size: clamp(15px, 4.25vw, 45px);
    }

    .edit-button {
        aspect-ratio: 10;
        width: 80%;
        background-color: #dddddd;
        font-size: 4vw;
        color: black;
    }

    .editable {
        border: 1px solid gray;
        border-radius: 5px;
        padding: 5px;
    }
</style>

<div class="container-fluid py-1 px-4">
    <div class="row d-flex justify-content-center">
        <button type="button" class="btn btn-outline-success edit-button" id="edit-button">
            <img src="../../static/icon/edit.png" style="height: 6vw;" class="pb-2">
            <span style="font-size: 5vw;"> &nbsp; Edit </span>
        </button>
    </div>
</div>

<div class = "info_thing mx-1 my-1 px-2 py-3" style = "border-radius: 5.5%; background-color: rgb(239, 239, 239);">
    <strong>Family:</strong> <span id="family">{{ full_crop_infos['family_name'] }}</span><br>
    <strong>Latin Name:</strong> <span id="latin-name">{{ full_crop_infos['latin_name'] }}</span><br>
    <strong>Variety:</strong> <span id="variety">{{ full_crop_infos['variety_name'] }}</span><br>
    <strong>Type:</strong> <span id="type">{{ full_crop_infos['crop_type'] }}</span><br>
    <strong>Seed Spacing for Harvesting Crops (in.):</strong> <span class="editable-text" id="plant_spacing_harvest">{{ full_crop_infos['plant_spacing_harvest'] }} </span><br>
    <strong>Row Spacing for Harvesting Crops (in.):</strong> <span class="editable-text" id="row_spacing_harvest">{{ full_crop_infos['row_spacing_harvest'] }}</span><br>
    <strong>Seed Spacing for Harvesting Seeds (in.):</strong> <span class="editable-text" id="plant_spacing_seed">{{ full_crop_infos['plant_spacing_seed'] }}</span><br>
    <strong>Row Spacing for Harvesting Seeds (in.):</strong> <span class="editable-text" id="row_spacing_seed">{{ full_crop_infos['row_spacing_seed'] }}</span><br>
    <strong>Days to Maturity for Harvesting Crops:</strong> <span class="editable-text" id="days_to_maturity_harvest">{{ full_crop_infos['days_to_maturity_harvest'] }}</span><br>
    <strong>Days to Maturity for Harvesting Seeds:</strong> <span class="editable-text" id="days_to_maturity_seed">{{ full_crop_infos['days_to_maturity_seed'] }}</span><br>
    <strong>Days to Transplantation:</strong> <span class="editable-text" id="days_to_transplantation">{{ full_crop_infos['days_to_transplantation'] }}</span><br>
    <strong>Days to Direct Sow:</strong> <span class="editable-text" id="ddays_to_direct_sow">{{ full_crop_infos['days_to_direct_sow'] }}</span><br>
    <strong>Days for Harvesting Crops:</strong> <span class="editable-text" id="days_to_harvest">{{ full_crop_infos['days_to_harvest'] }}</span><br>
    <strong>Days for Harvesting Seeds:</strong> <span class="editable-text" id="days_to_seed_harvest">{{ full_crop_infos['days_to_seed_harvest'] }}</span><br>
    <strong>Frost Sensitivity Rating:</strong> <span class="editable-text" id="frost_sensitivity_rating">{{ full_crop_infos['frost_sensitivity_rating'] }}</span><br>
</div>

<script>
    'use strict';

    const variety_id = "{{ variety_id }}";
    const variety_name = "{{ variety_name }}"

    // send updated data
    function sendText() {
        var updated_fields = {};

        $('.editable-text').each(function() {
            var $this = $(this);
            var fieldId = $this.attr('id');
            // for when it is span or input mode
            var updatedValue = $this.find('input').val() || $this.text();
            updated_fields[fieldId] = updatedValue;
        });
        console.log(updated_fields);

        $.ajax({
            url: '/updateCropInfo', 
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(
                {updated_fields: updated_fields,
                variety_name: variety_name, 
                variety_id: variety_id}),
            success: function(response) {
                console.log('success');
            },
            error: function(xhr, status, error) {
                console.error('Error with the AJAX request:', error);
            }
        });
    }

    // toggling edit button to create edit state or not
    // coded with the help of ChatGPT
    $('#edit-button').on('click', function() {
            // checking if text of button is 'save' or 'edit'
            let isEditing = $(this).text().trim() === 'Save';

            // toggle edit mode
            $('.editable-text').each(function() {
                if (isEditing) {
                    // explicityly accessing the editable text class instances
                    let $editable_text = $(this)
                    // convert input back to text
                    var new_text = $editable_text.find('input').val();
                    $editable_text.text(new_text);
                } else {
                    // make the text editable class
                    var text = $(this).text();
                    $(this).html('<input type="text" class="editable" value="' + text + '">');
                }
            });

            // Toggle button text between "Edit" and "Save"
            if (isEditing) {
                $(this).text('Edit');
                sendText();
            } else {
                $(this).text('Save');
            }
        });

    // making edit button into toggle state as default
    $(document).ready(function() {
        $('#edit-button').text('Edit');
    });
</script>