<!-- This page defines the crop tasks that appear on the crop info page -->

<style>
    /* For the checkbox tasks and dates below */
    .checkbox-wrapper-11 label span.task {
        font-weight: bold;
        font-size: clamp(20px, 5vw, 55px);
        display: block;
        color: #313641
    }

    .checkbox-wrapper-11 label span.date {
        font-size: clamp(15px, 4vw, 45px);
        display: block;
        color: gray; 
    }

    .checkbox-wrapper-11 input:checked + label span.task {
        color: #7A87A3;
    }

    .checkbox-wrapper-11 input:checked + label span.date {
        color: lightgray;
    }

    .edit-button {
        aspect-ratio: 10;
        width: 80%;
        background-color: #dddddd;
        font-size: 4vw;
        color: black;
    }

    .add-task {
        font-size: clamp(30px, 5vw, 55px);
        color: #313641
    }

    body {
    padding-bottom: 8vh; /* Adjust this value to the height of your footer */
}
</style>

<!-- Edit Button -->
<div class="container-fluid py-1 px-4 pb-2">
    <div class="row d-flex justify-content-center">
        <button type="button" class="btn btn-outline-success edit-button" id="test-button-1" data-bs-toggle="modal" data-bs-target="#taskModal">
            <img src="../../static/icon/edit.png" style="height: 6vw;" class="pb-2">
            <span style="font-size: 5vw;">&nbsp; Edit or Delete Task</span>
        </button>
    </div>
</div>


<!-- assited creating with chatGPT -->
<!-- Modal for adding a task -->
<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTaskModalLabel">Add a New Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Form to input task details -->
          <form id="addTaskForm">
            <div class="mb-3">
              <label for="taskTitle" class="form-label">Task Title</label>
              <input type="text" class="form-control" id="taskTitle" required>
            </div>
            <div class="mb-3">
              <label for="taskDate" class="form-label">Task Date</label>
              <input type="date" class="form-control" id="taskDate" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveTaskBtn">Save Task</button>
        </div>
      </div>
    </div>
  </div>


<div class="container-fluid">
    <div class="row" style="margin: auto; width: 50%; text-align: center;">
        <div id="addTask" class="py-0 add-task">
            +
        </div>
    </div>
</div>

<!-- Where tasks appear -->
<div class="container-fluid p-0">
    <div id="taskList" class = "p-0" style = "align-content: center;"> </div>
</div>



<script>
    'use strict';

    const user_crop_id = "{{ user_crop_id }}";

    // show adding task modal
    $('#addTask').on('click', function() {
        $('#addTaskModal').modal('show');
        });

    $('#saveTaskBtn').on('click', function() {
        const taskTitle = $('#taskTitle').val();
        const taskDate = $('#taskDate').val();

        if (taskTitle && taskDate) {
            
            $.ajax({
                url: '/addTask', 
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    task_name: taskTitle,
                    task_date: taskDate,
                    user_crop_id: user_crop_id
                }),
                success: function(response) {
                    if (response.success) {
                        // Close the modal and refresh the task list
                        $('#addTaskModal').modal('hide');
                        $('#taskList').empty();
                        //reload  
                        showTasks();  
                    } else {
                        alert("Failed to add task.");
                    }
                },
                error: function(xhr, status, error) {
                    alert("An error occurred while adding the task: " + error);
                }
            });
        } else {
            alert("Please fill in both the task title and date.");
        }
    });


    // function to create the inner text for the html element with the todo list
    // includes data-task-id so that the task can be later selected for event listening with the task_id included in that information
    function createTodoItem(todo, index) {
        return `
            <div class="checkbox-wrapper-11 mx-4">
                <input id="todo-${todo.task_id}" type="checkbox" value="2" ${todo.completed ? 'checked' : ''}>
                <label for="todo-${todo.task_id}" data-task-id="${todo.task_id}" data-completed="${todo.completed}">
                    <span class="task"> ${todo.task} </span>
                    <span class="date">Due: ${todo.date} </span>
                </label>
            </div>
        `
    }

    function showTasks() {
        $.ajax({
            url: '/getTasks/' + user_crop_id,
            method: 'GET',
            // using "todos" instead of "tasks" as a name because easier to follow in template above
            success: function(todos) {
                todos.forEach(function(todo, index) {
                    todo.task = shortenLongString(todo.task, 350);
                    todo.date = shortenLongString(todo.date, 100);
                    $('#taskList').append(createTodoItem(todo, index));
                    $('#taskList').append('<hr class "pb-5" style="width: 96%;">');
                });
                attachEventListeners();
            },

            error: function(xhr, status, error) {
                console.error('Error fetching tasks:', error);
            }
        });
    }

    // Attach event listeners for each todo item when clicked to shave state
    function attachEventListeners() {
        // Attach the click event to the labels using the `data-task-id` attribute
        $('#taskList label').on('click', function() {
            // Get task_id and completed from the data attribute
            const taskId = $(this).data('task-id'); 
            const completed = $(this).data('completed'); 

            updateTaskStatus(taskId, completed);
        });
    }

    // gets the tasks for the page
    function setup() {
        showTasks();
    }

    // runs the page setup
    $(document).ready(setup);

    function updateTaskStatus(taskId, completed) {
        console.log(taskId);
        $.ajax({
            url: '/checked', 
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                task_id: taskId,
                completed: !completed // Toggle the completed status
            }),
            success: function(response) {
                if (response.success) {
                    // Find the checkbox element by task_id
                    const todo = $('#todo-' + taskId);
                    
                    // toggling todo checked attribute
                    if (todo) { todo.checked = !completed; }

                    else { console.error("Todo not found for taskId:", taskId); }

                    const label = $('label[for="todo-' + taskId + '"]');
                    if (label) {
                        // Dynamically update the data-completed attribute with the new state
                        label.setAttribute('data-completed', !completed);
                    }
                } else {
                    alert("Failed to update task status.");
                }
            },
            error: function(xhr, status, error) {
                alert("An error occurred while updating task status: " + error);
            }
        });
    }
</script>